@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --width: 50vw;
    --height: 50vh;
    --size: calc((var(--width) - 80px) / 3)
}

* {
    transition: background-color .5s ease-in-out 0s,
                color .5s ease-in-out 0s,
                stroke .5s ease-in-out 0s,
                text-shadow .5s ease-in-out 0s,
                opacity .25s ease-in-out 0s,
                margin .1s ease-in-out 0s,
                height .5s ease-in-out 0s,
                top .5s ease-in-out 0s,
                bottom .5s ease-in-out 0s,
                width 1s linear 0s
                !important;
}

body, main {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#topholder, #bottomholder {
    min-height: calc(3rem + 20px);
    max-height: 20vh;
    width: calc((var(--size) * 3 ) + 50px);
    z-index: 2;
    display: flex;
    position: absolute;
}

#topholder {
    top: 0;
}

#bottomholder {
    bottom: 0;
}

#topholder.hide {
    top: calc((3rem + 20px) * -1);
}

#bottomholder.hide {
    bottom: calc((3rem + 20px) * -1);
}

#midholder {
    width: calc((var(--size) * 3 ) + 50px);
    border-radius: calc(var(--size)*.15);
    box-shadow: 0px 0px 40px #00000020;
    padding: 15px;
    z-index: 2;
}

#welcomecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#welcomecard h2 {
    margin: 0 0 20px 0;
}

#highscore {
    margin: 20px 0;
}

#timeselect {
    width: 100%;
    display: flex;
}

#timeselect a {
    width: 33%;
    text-decoration: none;
    margin: 10px 0;
}

#highscore {
    display: flex;
    flex-direction: column;
}

.scorebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#midholder svg {
    height: 2rem;
    width: 2rem;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
}

#top, #bottom {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 40px #00000020;
    overflow: hidden;
}

.barinner {
    height: calc(3rem + 20px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.none {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

#timeleft p {
    height: 2rem;
}

#progressholder {
    width: calc((var(--size) * 3 ) + 50px ) !important;
    height: calc(3rem + 20px);
    padding: 20px;
    display: flex;
    justify-content: center;
}

#progressbar {
    height: 2rem;
    width: 100%;
    border-radius: calc(var(--size)*.10);
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score p {
    font-size: 2rem;
    margin-left: .5rem;
}

.score svg {
    max-height: 2rem;
    max-width: 2rem;
}

.score svg path {
    stroke-width: 20;
    stroke-linecap: round;
}

#top {
    border-radius: 0px 0px calc(var(--size)*.15) calc(var(--size)*.15);
}

#bottom {
    border-radius: calc(var(--size)*.15) calc(var(--size)*.15) 0px 0px;
    align-self: flex-end;
}

#gridholder {
    display: grid;
    grid-template-columns: var(--size) var(--size) var(--size);
    grid-template-rows: var(--size) var(--size);
    gap: 10px;
    z-index: 2;
}

.tile {
    border-radius: 10%;
    margin: 5px;
}

.tile:hover {
    margin: 0px;
}

.tile:active {
    margin: 10px;
}

#svgholder {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svgholder svg, #bottom svg {
    width: 100%;
    height: 100%;
}

#svgholder svg path {
    stroke-dasharray: 250,250,500,250,250,500;
    animation: squiggle 10s linear;
    animation-iteration-count: infinite;
    stroke-width:10px;
    stroke-linecap:round;
    fill:transparent;
}

#svgholder svg path:nth-child(even) {
    animation-direction: reverse;
}

@keyframes squiggle {
    to {
        stroke-dashoffset: -2000;
    }
}

@media only screen and (orientation: portrait) {
    :root {
        --size: calc((var(--height) - 80px) / 3)
    }
    body,main {
        font-size: 1.5rem;
    }
    #topholder, #bottomholder, #midholder {
        width: calc((var(--size) * 2 ) + 40px );
    }
    #midholder svg {
        height: 1.5rem;
        width: 1.5rem;
    }
    #progressholder {
        width: calc((var(--size) * 2 ) + 40px ) !important;
    }
    #gridholder {
        grid-template-columns: var(--size) var(--size);
        grid-template-rows: var(--size) var(--size) var(--size);
    }
}